[submodule "src/APE_Server"]
	path = src/APE_Server
	url = https://github.com/APE-Project/APE_Server.git
[submodule "src/ApePubSub"]
	path = src/ApePubSub
	url = https://github.com/ptejada/ApePubSub.git 
